* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --murap-touba: #4d4d4d;
    --ngourap-touba: aliceblue;
    --amuba: black;
    --ut-machu: #BDD5EA;
}

body {
    font-family: 'Built Titling', sans-serif;
}

.navbar {
    background-color: var(--amuba);
    color: var(--ngourap-touba);
    padding: 1rem 6rem;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}

.toggle-button {
    font-size: 24px;
    color: white;
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 1.5;
    flex-shrink: none;
    padding: .2rem .2rem;
}

.nav-links a:hover {
    background-color: var(--ut-machu);
    border-radius: 5px;
    width: 40rem;
    transform: translate(900%, 0);
}

.contact {
    text-align: start;
    list-style: none;
}

.contact .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

.social-icons img:hover {
    background-color: var(--ut-machu);
    border-radius: 10px;
}

/* Hero Section Styles */
.hero {
    position: relative;
    height: 100vh;
    /* Full viewport height */
    background-image: url('../photos/images/Background_01.png');
    background-size: cover;
    /* Ensures the background covers the section */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Applying an overlay filter on the background */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 64, 64, 0.5);
    /* Black overlay with 50% opacity */
    opacity: 0.85;
    /* 52% opacity */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
    mix-blend-mode: multiply;
    letter-spacing: 8px;
}

.cta-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--ngourap-touba);
    border: 2px solid var(--ngourap-touba);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;

}

.cta-btn:hover {
    background-color: var(--murap-touba);
}

/* Get-To-Know */

.get-to-know {
    background-image: url('../photos/logos/toxic-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    height: 60vh;
}

.get-to-know-content {
    position: relative;
    text-align: center;
    background-color: transparent;
}

.get-to-know-content p {
    color: var(--murap-touba);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 2rem;
    letter-spacing: 1px;

}

.get-to-know-btn {
    width: 18rem;
    height: 3rem;
    color: var(--murap-touba);
    font-size: 30px;
    letter-spacing: -1px;
    border: 0.15rem solid var(--murap-touba);
    margin-bottom: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


.get-to-know-btn:hover {
    color: var(--ngourap-touba);
    background-color: var(--murap-touba);
}


/* Client Work Section */
.client-work {
    padding: 3rem;
    background-image: url('../photos/images/Background_02.png');
    position: relative;
    background-size: cover;
    /* Ensures the background covers the section */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
}

/* Applying an overlay filter on the background */
.client-work::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 75, 75, 0.5);
    /* Black overlay with 50% opacity */
    opacity: 0.85;
    z-index: 1;
    pointer-events: none;
}

.client-work-content h3 {
    color: var(--ngourap-touba);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.client-work-content h2 {
    color: var(--ngourap-touba);
    font-size: 4.5rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.see-all-btn {
    padding: 1rem 2rem;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    border: 0.15rem solid var(--ngourap-touba);
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.see-all-btn:hover {
    background-color: var(--murap-touba);
    color: var(--ngourap-touba);
}

/* Logo Section */
.hero-logo {
    width: 100%;
    height: 30vh;
    background-color: var(--ngourap-touba);
}

.hero-logo-content {
    background-image: url(../photos/logos/toxic-logo-instagram-logo.png);
    padding: 5px 5px;
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    /* Add this to adjust the background size */
    background-size: 20% 25%;
    /* Makes the image fit inside the container while maintaining its aspect ratio */

}

/* Footer Section */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Ensures responsiveness for smaller screens */
    text-align: center;
    /* Ensures all text is centered */
}

.address {
    flex: 1;
}

.address p {
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: -220px;
}

.address p span {
    text-transform: lowercase;
}

.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    padding: 0;
    margin: 0;
    width: 10rem;
    height: 6rem;
}

.footer-bottom {
    flex: 1;
    text-align: right;
}

.footer-bottom p {
    margin: 0;
}

/* ============================================== */
#blog-posts {
    background-color: #d47e0e;
    padding: 0 10% 3% 10%;
    margin: 10% 10%;
}

#blog-posts h1 {
    text-align: center;
    padding: 10px;

}

.coming-soon {
    text-align: center;
    padding: 100px;
    border-radius: 10px;
    background-color: white;
    align-content: center;
}

.coming-soon h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.countdown div {
    margin: 0 10px;
}

.countdown span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.countdown p {
    font-size: 1.2rem;
    color: #777;
}

/* Hero Section Styles */
.hero {
    position: relative;
    height: 100vh;
    /* Full viewport height */
    background-image: url('../photos/images/Background_01.png');
    background-size: cover;
    /* Ensures the background covers the section */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Applying an overlay filter on the background */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 64, 64, 0.5);
    /* Black overlay with 50% opacity */
    opacity: 0.85;
    /* 52% opacity */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
    mix-blend-mode: multiply;
    letter-spacing: 8px;
}

.cta-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--ngourap-touba);
    border: 2px solid var(--ngourap-touba);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;

}

.cta-btn:hover {
    background-color: var(--murap-touba);
}

/* Get-To-Know */

.get-to-know {
    background-image: url('../photos/logos/toxic-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    height: 60vh;
}

.get-to-know-content {
    position: relative;
    text-align: center;
    background-color: transparent;
}

.get-to-know-content p {
    color: var(--murap-touba);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 2rem;
    letter-spacing: 1px;

}

.get-to-know-btn {
    width: 18rem;
    height: 3rem;
    color: var(--murap-touba);
    font-size: 30px;
    letter-spacing: -1px;
    border: 0.15rem solid var(--murap-touba);
    margin-bottom: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


.get-to-know-btn:hover {
    color: var(--ngourap-touba);
    background-color: var(--murap-touba);
}


/* Client Work Section */
.client-work {
    padding: 3rem;
    background-image: url('../photos/images/Background_02.png');
    position: relative;
    background-size: cover;
    /* Ensures the background covers the section */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
}

/* Applying an overlay filter on the background */
.client-work::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 75, 75, 0.5);
    /* Black overlay with 50% opacity */
    opacity: 0.85;
    z-index: 1;
    pointer-events: none;
}

.client-work-content h3 {
    color: var(--ngourap-touba);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.client-work-content h2 {
    color: var(--ngourap-touba);
    font-size: 4.5rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.see-all-btn {
    padding: 1rem 2rem;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    border: 0.15rem solid var(--ngourap-touba);
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.see-all-btn:hover {
    background-color: var(--murap-touba);
    color: var(--ngourap-touba);
}

/* Logo Section */
.hero-logo {
    width: 100%;
    height: 30vh;
    background-color: var(--ngourap-touba);
}

.hero-logo-content {
    background-image: url(../photos/logos/toxic-logo-instagram-logo.png);
    padding: 5px 5px;
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    /* Add this to adjust the background size */
    background-size: 20% 25%;
    /* Makes the image fit inside the container while maintaining its aspect ratio */

}

/* Footer Section */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Ensures responsiveness for smaller screens */
    text-align: center;
    /* Ensures all text is centered */
}

.address {
    flex: 1;
}

.address p {
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: -220px;
}

.address p span {
    text-transform: lowercase;
}

.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    padding: 0;
    margin: 0;
    width: 10rem;
    height: 6rem;
}

.footer-bottom {
    flex: 1;
    text-align: right;
}

.footer-bottom p {
    margin: 0;
}

/* ============================================== */
#blog-posts {
    background-color: #d47e0e;
    padding: 0 10% 3% 10%;
    margin: 10% 10%;
}

#blog-posts h1 {
    text-align: center;
    padding: 10px;

}

.coming-soon {
    text-align: center;
    padding: 100px;
    border-radius: 10px;
    background-color: white;
    align-content: center;
}

.coming-soon h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.countdown div {
    margin: 0 10px;
}

.countdown span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.countdown p {
    font-size: 1.2rem;
    color: #777;
}

/* =============================================================== */
Sins
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .toggle-button {
        display: none;
    }


    .nav-container {
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

    }

    .logo {
        order: 1;
    }

    .link-ahanba {
        flex: 1 0 100%;
        order: 2;
    }

    .nav-links a {
        
        letter-spacing: 1.2px;
    }

    .contact {
        order: 1;
    }

    /* Hero Section */
    .hero h1 {
        font-size: 70px;
        letter-spacing: 5px;
    }

    .cta-btn {
        font-size: 0.9rem;
        padding: 1rem 1.7rem;
    }

    /* Footer */
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
    }

    .address p {
        margin-left: -100px;
    }
}




/* ================================================================ */
/* Sina Mobile Phone gee view */

@media only screen and (max-width: 768px) {

    .nav-links,
    .contact {
        display: none;
        /* Hide the links initially */
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        padding: 10px 0;
        z-index: 3;
    }

    .nav-links.active {
        display: flex;
        /* Show links when active */
    }

    .nav-links li {
        margin: 10px 0;
    }

    .toggle-button {
        display: block;
        /* Show toggle button on mobile */
    }

    .contact.active {
        display: flex;
    }

    /* Hero Section */
    .hero h1 {
        font-size: 50px;
        letter-spacing: 4px;
    }

    .cta-btn {
        font-size: 0.8rem;
        padding: 0.8rem 1.5rem;
    }

    /* Contact Us Section */
    .contact {
        margin-left: 0;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
    }

    /* <!-- Featured Logo Section --> */

    .hero-logo-content {
        background-size: 50% 25%;
        /* Makes the image fit inside the container while maintaining its aspect ratio */

    }

    /* Footer */
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .address p {
        margin-left: 0;
    }

    .footer-bottom p {
        text-align: center;
    }

    /* =============================================================================================== */

    #blog-posts {
        padding: 0 5% 3% 5%;
        /* Further reduce padding for smaller screens */
    }

    .coming-soon {
        padding: 30px;
        /* Further reduce padding for smaller screens */
    }

    .coming-soon h2 {
        font-size: 1.5rem;
        /* Further decrease font size for smaller screens */
    }

    .countdown {
        margin-bottom: 5px;
        /* Further decrease margin for smaller screens */
    }

    .countdown div {
        margin: 0 3px;
        /* Further decrease margin for smaller screens */
    }

    .countdown span {
        font-size: 1rem;
        /* Further decrease font size for smaller screens */
    }

    .countdown p {
        font-size: 0.9rem;
        /* Further decrease font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .nav-links a {
        font-size: 14px;
    }
}